Package: com.brend0n.unityfpsindicator
Name: FPSIndicator 
Depends: mobilesubstrate, com.opa334.altlist
Version: 0.0.5.1
Architecture: iphoneos-arm
Description: real-time fps indicator for all apps
Maintainer: JesseX <jessexjq@gmail.com>
Author: JesseX <jessexjq@gmail.com>
Section: Tweaks
Depiction: FPS Indicator
SileoDepiction: FPS Indicator
